transformers==4.44.0
torch==2.4.0
scikit-learn==1.5.1
datasets==2.21.0
sentence-transformers==3.0.1
chromadb==0.5.5
langchain==0.2.14
langchain-google-genai==2.0.1
google-generativeai==0.8.0
langgraph==0.2.14
requests==2.32.3
pandas==2.2.2
numpy==1.26.4
streamlit==1.38.0
python-dotenv==1.0.1
biopython==1.84
seqeval==1.2.2
accelerate==0.33.0
evaluate==0.4.3
fastapi==0.112.0
uvicorn==0.30.5
